@import "tailwindcss";
@config "../tailwind.config.js";
/* src/index.css */

/* Tema claro */
:root {
  --color-primary: #002e5f;
  --color-secondary: #002e5f;
  --color-accent: #c79316;
  --color-background: #f3f4f6; /*grey-100*/
  --color-background-secondary: #e5e7eb; /*grey-200*/
  --color-background-focus: #d1d5db; /*grey-300*/
  --color-text: #1f2937; /*grey-800*/
}

/* Tema oscuro */
.dark {
  --color-primary: #6366f1;
  --color-background: #0f172a;
  --color-text: #f8fafc;
  --color-focus: #c79316; /* o ajusta si quieres otro para modo oscuro */
}

/* Agregar a tu index.css para las animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}
